@layer theme, base, components, primereact, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@import "primereact/resources/themes/md-dark-deeppurple/theme.css";
@import "primereact/resources/primereact.min.css";

@import "primeflex/primeflex.css";

:root {
  --font-family: 'Inter', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}